@charset "UTF-8";
/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: "Lato-Regular", BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    Helvetica, Arial, sans-serif;

  font-style: normal;
  font-weight: 400;
}

.logo {
  width: 500px;
  height: auto;
}

.subText {
  font-size: 1rem;
  color: #4a4a4a;
  font-weight: 400;
}

.mText {
  unicode-bidi: bidi-override;
  direction: rtl;
}
