@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.logo {
  width: 500px;
  height: auto;
}

.subText {
  font-size: 1rem;
  color: #4a4a4a;
  font-weight: 400;
}

.mText {
  unicode-bidi: bidi-override;
  direction: rtl;
}
